@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300itaâ€Œâ€‹lic,400italic,500,500italic,700,700italic,900italic,900);

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* GENERAL */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: darkcyan;

    transition: border-bottom-color 400ms ease;
}

a:hover {
    border-bottom-color: darkcyan;
}


/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 38vh;

    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-img {
    display: flex;
    width: 12%;
}

.header-img > img {
    width: 100%;
    margin: auto;
    margin-right: 2em;
}

.header-text {
    display: flex;
}

.header-text > span {
    margin: auto;
    color: black;
    font-size: 5em;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* INFOS */

.infos {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 5em;

    text-align: center;
}

.infos-header {
    font-size: 2.5em;
}

.infos-content {
    margin-top: 0.4em;
    font-size: 1.2em;
}

.infos-bottom {
    margin-top: 1.5em;
    font-size: 1.2em;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* PROJECTS */

.projects {
    width: 100%;
    margin-top: 5em;

    text-align: center;
}

.projects-header {
    font-size: 2.5em;
}

/* See carousel.css for the rest of the css */

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* CV */

.cv {
    width: 100%;
    margin-top: 5em;

    text-align: center;
}

.cv-header {
    font-size: 2.5em;
}

.cv p {
    margin-top: 0.4em;
    font-size: 1.2em;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* CONTACT */

.contact {
    width: 100%;
    margin-top: 5em;

    text-align: center;
}

.contact-header {
    font-size: 2.5em;
}

.contact p {
    margin-top: 0.4em;
    font-size: 1.2em;
}

/* See form.css for the rest of the css */

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* FOOTER */

footer {
    width: 100%;
    margin-top: 5em;
    padding-top: 1em;
    padding-bottom: 1.5em;

    background-color: darkcyan;

    color: white;
    text-align: center;
}