

.cv {

  &__header {
    display: flex;
    justify-content: left;
    background-color: $color-secondary;
    padding: 2em;
    margin-bottom: 2em;

    span {
      font-size: 3em;
      margin: auto;
      font-weight: bolder;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;

    &__details {
      width: 30%;
      border-right: 4px solid $color-secondary;
      padding: 1em;

      h2 {
        text-transform: uppercase;
        font-weight: bold;
      }

      ul {
        list-style: none;
      }
    }

    &__content {
      padding: 1em;
      width: 65%;

      h2 {
        width: 100%;
        text-transform: uppercase;
        border-bottom: 2px solid $color-secondary;
        font-weight: bold;
      }

      ul {
        list-style: none;
      }

      li {
        margin-bottom: 1em;

        h3 {
          font-weight: bold;
          font-size: 1.3em;
        }

        p {
          margin: 0;
        }

        .date {
          font-style: italic;
        }
      }
    }
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: $color-primary;
  text-decoration: none;
  border-bottom-color: $color-primary;
}