.viewport {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $bg-color;

  &-container {
    height: 100vh;
    overflow: hidden;
  }
}

.frame {
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  > .text_container {
    width: 100%;
    padding: 5% 10%;
    color: white;
    font-size: 2em;
    text-align: justify;
  }
}

.ronds {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 50%;

  > * {
    width: 100%;
    display: block;
    position: absolute;
    margin-top: -50%;
    margin-left: -50%;
    top: 0;
    left: 0;
    animation: rond_animation linear infinite;
  }

  .s {
    animation-duration: 50s;
  }

  .m {
    animation-duration: 60s;
    animation-direction: reverse;
  }

  .l {
    animation-duration: 120s;
  }

  &_container {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
}

@keyframes rond_animation {
  100% {
    transform: rotate(1turn);
  }
}

.title {
  color: white;
  font-size: 15rem;
  z-index: 100;

  &_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.arrows {
  > * {
    display: none;
    position: fixed;
    width: 4%;
    left: 48%;
    z-index: 200;

    transition: 200ms ease;
  }

  .up {
    top: 3%;

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
    }
  }

  .down {
    bottom: 3%;

    &:hover {
      cursor: pointer;
      transform: translateY(10px);
    }
  }
}

.points_container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.point {
  font-size: 3rem;
  color: lightgrey;
  z-index: 100;
  transition: 400ms ease;

  &:hover {
    cursor: pointer;
    font-size: 3.5em;
    color: white;
  }

  &.active {
    font-size: 3.5em;
    color: white;
  }
}

.footer {
  font-size: 2em;
  color: white;

  ul {
    margin-left: 1.5em;
  }
}