@import "../utils/variables";

.home {
  &_section {
    height: 100vh;

    &.accueil {
      div {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $white;
        font-size: 128px;

        .down {
          position: absolute;
          bottom: 10px;
          color: white;
          text-decoration: none;
          transition: bottom 200ms ease;
          font-size: 96px;

          &:hover {
            cursor: pointer;
            bottom: 2px;
          }
        }
      }

      #myCanvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }

  &_header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: transparent;

    a {
      padding: 5px;
      margin: 20px;
      font-size: 25px;
      color: $white;
      text-decoration: none;
      background-color: transparent;
      transition: color 500ms ease;

      &:hover {
        color: $grey;
      }

      .fas {
        font-size: 9px;
      }
    }
  }
}