body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
    gap: 100px;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    border: none;
}

body > div {
    width: 700px;
}

div.introduction {
    font-size: 20px;
}

div.introduction > p {
    margin-bottom: 20px;
}

div.content h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

div.content ul {
    margin-bottom: 20px;
    margin-left: 20px;
}

div.content li {
    margin: 10px 0;
}

div.content span {
    font-style: italic;
}

div.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

div.links > .title {
    font-size: 1.3em;
}

div.links > .columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

div.links > .columns > a {
    font-size: 1.1em;
}

div.links > .columns > a > .icon {
    margin-right: 5px;
}

@media screen and (max-width: 700px) {
    body > div {
        width: 100%;
    }

    body > div > * {
        margin-left: 20px;
        margin-right: 20px;
    }
}