@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Quicksand, sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

article {
    margin: 2%;
    padding: 2%;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 12px #555;
}

.cv__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.cv__header-img {
    width: 25%;
}

.cv__header-img img {
    width: 100%;
}

.cv__header-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cv__header-text > hr {
    padding: 0 5%;
}

.cv__header-text-main {
    padding: 1%;
    text-align: center;
    font-size: 3em;
}

hr {
    margin: 0 5%;
    border: 1px solid dodgerblue;
}

.cv__header-text-sub {
    margin: 0 5%;
    padding: 1% 1% 1% 3%;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.cv__body {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

.cv__body_row {
    display: flex;
    justify-content: space-between;
}

.cv__body-header {
    border-bottom: 3px solid dodgerblue;
    color: dodgerblue;
    font-size: 2em;
    margin-bottom: 1%;
}

.cv__body-header i {
    color: black;
}

.cv__body-card {
    margin: 1% 0;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
    display: flex;
    flex-direction: column;
}

.cv__body-card-3 {
    width: 30%;
    margin: 1% 0;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
    display: flex;
    flex-direction: column;
}

.cv__body-list {
    margin: 1% 2em;
    list-style-type: none;
}

.cv__body-list li::before {
    content: "•";
    color: dodgerblue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.cv__body-row {
    display: flex;
    justify-content: left;
}

.cv__body-date {
    font-style: italic;
}

.download {
    padding-bottom: 5%;
}

.column_container {
    display: flex;
    justify-content: space-around;
}