@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Quicksand, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

article {
    margin: 5em;
    padding: 5px 5px 20px;
    width: 50%;
    box-shadow: 1px 1px 12px #555;
}

.cv__header {
    display: flex;
    justify-content: left;
    background-color: orange;
    padding: 2em;
    margin-bottom: 2em;
}

span {
    font-size: 3em;
    margin: auto;
    font-weight: bolder;
}

.cv__body {
    display: flex;
    justify-content: space-between;
}

.cv__body__details {
    width: 30%;
    border-right: 4px solid orange;
    padding: 1em;
}

.cv__body__details h2 {
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    list-style: none;
}

.cv__body__content {
    padding: 1em;
    width: 65%;
}

.cv__body__content h2 {
    width: 100%;
    text-transform: uppercase;
    border-bottom: 2px solid orange;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 1em;
}

h3 {
    font-weight: bold;
    font-size: 1.3em;
}

p {
    margin: 0;
}

.date {
    font-style: italic;
}

a {
    color: #008B8B;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: #008B8B;
    text-decoration: none;
    border-bottom-color: #008B8B;
}

h2, h3 {
    margin-bottom: .5rem;
    line-height: 1.2;
}

p {
    line-height: 1.5;
}