@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.menu {
  background-color: #008B8B;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.3em;
}
.menu__main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.menu__icons {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu__icons #menu_expand:hover {
  cursor: pointer;
}
.menu__texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
}
.menu__icon {
  width: 100%;
  padding: 0.5em;
}
.menu__icon:hover {
  background-color: #005858;
}
.menu__text {
  padding: 0.5em 0.5em 0.5em 0.3em;
}
.menu__text:hover {
  background-color: #005858;
}
.menu a {
  color: white;
}
.menu a:hover {
  color: white;
  text-decoration: none;
}
.menu hr {
  border-color: #005858;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1em 0;
  margin-bottom: 1em;
}
.header h1 {
  font-size: 4em;
}
.header h2 {
  color: #00bebe;
}

.content {
  width: 50%;
  margin: auto;
  padding-bottom: 3em;
  text-align: justify;
}
.content article {
  font-size: 1.2em;
  padding: 0.5em 0;
}
.content p {
  text-indent: 1.5em;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.article-list__item {
  color: black;
  padding: 0.3em;
  margin: 0.5em;
  transition: background-color 200ms ease;
}
.article-list__item div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.article-list__item h3 {
  padding: 0.3em;
}
.article-list__item p {
  padding-left: 1.5em;
  text-align: justify;
}
.article-list__item:hover {
  color: black;
  background-color: gainsboro;
  text-decoration: none;
}

.project-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
}
.project-list__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  color: black;
}
.project-list__item img {
  width: 100%;
}
.project-list__item h3 {
  padding: 1em;
  background-color: orange;
  font-weight: 900;
  text-shadow: 3px 3px 0 #cc8400;
}
.project-list__item p {
  padding: 1em;
}
.project-list__item:hover {
  color: black;
  text-decoration: none;
  background-color: gainsboro;
}

.cv__header {
  display: flex;
  justify-content: left;
  background-color: orange;
  padding: 2em;
  margin-bottom: 2em;
}
.cv__header span {
  font-size: 3em;
  margin: auto;
  font-weight: bolder;
}
.cv__body {
  display: flex;
  justify-content: space-between;
}
.cv__body__details {
  width: 30%;
  border-right: 4px solid orange;
  padding: 1em;
}
.cv__body__details h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.cv__body__details ul {
  list-style: none;
}
.cv__body__content {
  padding: 1em;
  width: 65%;
}
.cv__body__content h2 {
  width: 100%;
  text-transform: uppercase;
  border-bottom: 2px solid orange;
  font-weight: bold;
}
.cv__body__content ul {
  list-style: none;
}
.cv__body__content li {
  margin-bottom: 1em;
}
.cv__body__content li h3 {
  font-weight: bold;
  font-size: 1.3em;
}
.cv__body__content li p {
  margin: 0;
}
.cv__body__content li .date {
  font-style: italic;
}

a {
  color: #008B8B;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #008B8B;
  text-decoration: none;
  border-bottom-color: #008B8B;
}

/*# sourceMappingURL=main.css.map */
