.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.project-list-item {
    color: black;
    background-color: snow;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    padding: 0.5em;
    margin: 0.3em;
    transition: all 200ms ease;
}

.project-list-item:hover {
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}