.column_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.column2 {
    width: 50%;
    padding: 5%;
}

.row_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row {
    padding: 5%;
}