.column {
  &_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  &-2 {
    width: 50%;
    padding: 5%;
  }

  &-3 {
    width: 33%;
    padding: 5%;
  }
}

.row {
  width: 100%;
  padding: 3%;

  &_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.flex {
  &_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    > * {
      margin: 0 .5em;
    }
  }
}

.card {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: rgba(0, 0, 0, .20);
  border-radius: 0.3em;
  padding: 0.2em;
  border: none;
  transition: 200ms ease;

  > * {
    width: 100%;
    height: 50%;
  }

  &:hover {
    text-decoration: none;
    border: none;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  &_header {
    display: flex;

    > * {
      width: 50%;
      padding: 5%;
    }

    &_img {
      border-radius: 1em;
    }

    &_text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_body {
    font-size: 0.7em;
    text-indent: 2em;
    padding: 5%;
  }

  &_load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: rgba(0, 0, 0, .20);
    border-radius: 0.3em;
    padding: 0.2em;
    border: none;

    &_img {
      width: 50%;
      animation: load 10s infinite linear;
    }
  }
}

.hide {
  display: none;
}

@keyframes load {
  100% {
    transform: rotate(1turn);
  }
}