{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block bodytitle %}Contact{% endblock %}

{% block body %}
    <article>
        <h2>Me contacter</h2>
        <p>Vous pouvez me contacter par mail <a href="mailto:kevin@ktraini.com" target="_blank">kevin@ktraini.com</a> ou
            via mes comptes <a href="https://www.linkedin.com/in/kevin-traini/" target="_blank">Linkedin</a> et <a
                    href="https://github.com/Gashmob" target="_blank">Github</a></p>
    </article>
{% endblock %}