{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block head %}
    <script src="https://kit.fontawesome.com/fdc86ed409.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css', 'cv') }}">
    <script type="application/javascript">
        window.addEventListener('keydown', function (event) {
            if (event.keyCode === 80 && (event.ctrlKey || event.metaKey) && !event.altKey && (!event.shiftKey || window.chrome || window.opera)) {
                event.preventDefault();
                if (event.stopImmediatePropagation) {
                    event.stopImmediatePropagation();
                } else {
                    event.stopPropagation();
                }
                window.open('{{ asset('file', 'Kevin_Traini-CV.pdf') }}')
            }
        }, true);
    </script>
{% endblock %}

{% block body %}
    <div class="introduction">
        <p>Hi! My name is Kevin Traini, I'm a software engineer at Enalean.</p>
        <p>I work on some <a href="/projects">personal projects</a> whenever I have time to do so and some ideas. Until
            now, I mainly worked on tools: framework, compiler, libraries...</p>
    </div>

    <div class="content">
        <h2>Education</h2>
        <ul>
            <li>
                <h3>Master in Engineering</h3>
                <span>2021 - 2023 | Grenoble INP - Ensimag, UGA</span>
            </li>
            <li>
                <h3>1 semester Erasmus exchange</h3>
                <span>2022 Winter | Chalmers University of Technology</span>
            </li>
            <li>
                <h3>Bachelor’s degree in computer science</h3>
                <span>2018 - 2021 | Université Savoie Mont Blanc</span>
            </li>
        </ul>
        <h2>Work experiences</h2>
        <ul>
            <li>
                <h3>Software engineer</h3>
                <span>November 2023 - Now | Enalean</span>
            </li>
            <li>
                <h3>Internship</h3>
                <span>February - August 2023 | Enalean</span>
                <p>WebAuthn protocol implementation in Tuleap software to allow usage of passkeys</p>
            </li>
            <li>
                <h3>Internship</h3>
                <span>May - August 2022 | Lynred</span>
                <p>Monitoring application upgrade, Database management and data collector monitoring application, Socket
                    testing software. Assistant engineer internship as part of the course at Ensimag</p>
            </li>
            <li>
                <h3>Internship</h3>
                <span>June 2021 | LAMA (LAboratoire de MAthématiques)</span>
                <p>Image Vectorization, Zooming and Pixel Art Depixelizing. I've especially worked on export to svg
                    format</p>
            </li>
        </ul>
    </div>

    <div class="links">
        <div class="title">
            Want to see more, here some links
        </div>
        <div class="columns">
            <a href="https://github.com/Gashmob/" target="_blank">
                <i class="icon fa-brands fa-github"></i>GitHub
            </a>
            <a href="https://www.linkedin.com/in/kevin-traini/" target="_blank">
                <i class="icon fa-brands fa-linkedin"></i>Linkedin
            </a>
            <a href="{{ asset('file', 'Kevin_Traini-CV.pdf') }}" target="_blank">
                <i class="icon fa-regular fa-file-pdf"></i>PDF version
            </a>
        </div>
    </div>
{% endblock %}