{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block head %}
    <script src="https://kit.fontawesome.com/fdc86ed409.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css', 'cv') }}">
{% endblock %}

{% block body %}
    <div class="introduction">
        <p>Hi! My name is Kevin Traini, I'm a software engineer at Enalean.</p>
        <p>I also works on some <a href="/projects">personal projects</a> whenever I have time to do so and some ideas.
            Until now, I mainly worked on tools: framework, compiler, libraries...</p>
    </div>

    <div class="timeline">
        timeline
    </div>

    <div class="links">
        <div class="title">
            Want to see more, here some links
        </div>
        <div class="columns">
            <a href="https://github.com/Gashmob/" target="_blank">
                <i class="icon fa-brands fa-github"></i>GitHub
            </a>
            <a href="https://www.linkedin.com/in/kevin-traini/" target="_blank">
                <i class="icon fa-brands fa-linkedin"></i>Linkedin
            </a>
            <a href="{{ asset('file', 'Kevin Traini-CV.pdf') }}" target="_blank">
                <i class="icon fa-regular fa-file-pdf"></i>PDF version
            </a>
        </div>
    </div>
{% endblock %}