{% extends 'base.html.twig' %}

{% block title %}Expert mode{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css', 'expert') }}">
{% endblock %}

{% block body %}
    <div class="expert">
        <h1>Work in progress</h1>
        <p>I'm still working on this feature, sorry for the inconvenience</p>
    </div>
{% endblock %}