{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css', 'home') }}">
{% endblock %}

{% block body %}
    <div class="main_div">
        <a href="/expert" class="expert_div">
            <img src="{{ asset('img', 'repeat.svg') }}" alt="" width="24" height="24">
            <span>Expert mode</span>
        </a>
        <div class="logo_div">
            <img src="{{ asset('img', 'logo_home.svg') }}" alt="" />
            <h1>Kevin Traini</h1>
        </div>
        <div class="menu_div">
            <a href="/projects">Projects</a>
            <a href="/cv">CV</a>
        </div>
    </div>
{% endblock %}