{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    <div class="cv_container">
        <div class="cv">
            <div class="cv_head">
                <div class="cv_head_contact">
                    <h1>Kevin Traini</h1>
                    <div class="cv_head_contact_list">
                        <a href="https://www.linkedin.com/in/kevin-traini/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/Gashmob/"><i class="fab fa-github"></i></a>
                        <a href="https://gitlab.com/Gashmob/"><i class="fab fa-gitlab"></i></a>
                    </div>
                </div>

                <div class="cv_head_text">
                    <p>Étudiant en 2ème année à l'Ensimag dans la filière Ingénierie des Systèmes d'Information, je
                        partage
                        mon temps libre entre famille, lecture et programmation. Je réalise divers projets autant en web
                        (sites, framework) qu'en logiciel (outils, compilateur)</p>
                </div>
            </div>

            <div class="cv_body">
                <div class="cv_body_section">
                    <h3><i class="fas fa-university"></i>Formations</h3>
                    <div class="cv_body_section_content column">
                        <div class="cv_body_card">
                            <h4>Diplôme d'ingénieur</h4>
                            <p style="font-style: italic">2021 - 2023</p>
                            <p style="font-weight: bold">Grenoble INP Ensimag</p>
                            <p>En cours</p>
                        </div>
                        <div class="cv_body_card">
                            <h4>Licence informatique</h4>
                            <p style="font-style: italic">2018 - 2021</p>
                            <p style="font-weight: bold">Université Savoie Mont-Blanc</p>
                            <p>Mention Bien</p>
                        </div>
                    </div>
                </div>

                <hr class="cv_body_separator"/>

                <div class="cv_body_section">
                    <h3><i class="fas fa-cogs"></i>Compétences</h3>
                    <div class="cv_body_section_content row">
                        <div class="cv_body_card" style="width: 30%">
                            <h4>Paradigmes</h4>
                            <ul>
                                <li>Orienté objet</li>
                                <li>Fonctionnel</li>
                                <li>Évènementiel</li>
                                <li>Impératif</li>
                            </ul>
                        </div>
                        <div class="cv_body_card" style="width: 30%">
                            <h4>Langages</h4>
                            <ul>
                                <li>C++ / C</li>
                                <li>Java / Kotlin</li>
                                <li>Php / Javascript</li>
                                <li>Python</li>
                                <li>OCaml</li>
                            </ul>
                        </div>
                        <div class="cv_body_card" style="width: 30%">
                            <h4>Technologies</h4>
                            <ul>
                                <li>Symfony</li>
                                <li>MySQL / Neo4j</li>
                                <li>Node.js</li>
                                <li>React / Restify / Angular</li>
                                <li>Android</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr class="cv_body_separator"/>

                <div class="cv_body_section">
                    <h3><i class="fas fa-dolly"></i>Expériences</h3>
                    <div class="cv_body_section_content column">
                        <div class="cv_body_card">
                            <h4>Stagiaire</h4>
                            <p style="font-style: italic">Mai - Août 2022</p>
                            <p style="font-weight: bold">Lynred</p>
                            <p>Sujet du stage : Amélioration d'une plateforme de monitoring de machines de production.
                                Stage assistant ingénieur dans le cadre du cursus à l'Ensimag.</p>
                        </div>
                        <div class="cv_body_card">
                            <h4>Stagiaire</h4>
                            <p style="font-style: italic">Juin 2021</p>
                            <p style="font-weight: bold">LAMA (LAboratoire de MAthématiques)</p>
                            <p>Sujet du stage : Vectorisation et super résolution d'image. Participation sur l'export du
                                résultat en svg en utilisant des courbes de Bezier afin d'arrondir les formes.</p>
                        </div>
                        <div class="cv_body_card">
                            <h4>Feeljob</h4>
                            <p style="font-style: italic">Décembre 2020 - Mai 2021</p>
                            <p>Projet de site web pour un client dans le cadre d'un module universitaire de licence
                                3</p>
                            <p>Mise en relation entre chercheurs d'emplois et entreprises, mais aussi particuliers et
                                auto-entrepreneurs.</p>
                            <p>Utilisation du framework Symfony et des bases de données MySQL et Neo4j.</p>
                        </div>
                        <div class="cv_body_card">
                            <h4>Caissier</h4>
                            <p style="font-style: italic">Été 2019 & 2020</p>
                            <p style="font-weight: bold">Métro</p>
                            <p>Grossiste alimentaire CHR</p>
                        </div>
                    </div>
                </div>

                <hr class="cv_body_separator"/>

                <div class="cv_body_section">
                    <h3><i class="fas fa-globe"></i>Langues</h3>
                    <div class="cv_body_section_content column">
                        <div class="cv_body_card">
                            <ul>
                                <li>Français <span style="font-style: italic">Langue maternelle</span></li>
                                <li>Anglais <span style="font-style: italic">B2 (825/990 TOEIC)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr class="cv_body_separator"/>

                <div class="cv_body_section">
                    <h3><i class="far fa-question-circle"></i>Autres</h3>
                    <div class="cv_body_section_content column">
                        <div class="cv_body_card">
                            <h4>Gestion d'une faction dans un jeu vidéo</h4>
                            <p>Pendant un an et demi, j'ai géré une faction commerciale dans le jeu Starbase.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cv_link">
            <a href="{{ asset('cv/Kevin Traini.png') }}" target="_blank">Image</a>
            <a href="{{ asset('cv/Kevin Traini.pdf') }}" target="_blank">PDF</a>
        </div>
    </div>
{% endblock %}