{% extends 'base.html.twig' %}

{% block title %}Kevin Traini | CV{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cv.css') }}"/>
{% endblock %}

{% block body %}
    <article>
        <div class="cv__header">
            <div class="cv__header-img">
                <img src="{{ asset('img/profil.png') }}" alt="">
            </div>
            <div class="cv__header-text">
                <div class="cv__header-text-main">
                    <span>Kevin Traini</span>
                </div>
                <div class="cv__header-text-sub">
                    <span><i class="fas fa-at"></i> <a href="mailto:kevin@ktraini.com">kevin@ktraini.com</a></span>
                    <span><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/kevin-traini/"
                                                             target="_blank">Kevin Traini</a></span>
                    <span><i class="fab fa-github"></i> <a href="https://github.com/Gashmob" target="_blank">Gashmob</a></span>
                    <span><i class="fas fa-globe"></i> <a href="https://ktraini.com"
                                                          target="_blank">ktraini.com</a></span>
                </div>
            </div>
        </div>

        <div class="cv__body">
            <h2 class="cv__body-header"><i class="fas fa-university"></i> Formations</h2>
            <div class="cv__body-card">
                <h3 class="cv__body-title">DEUG Informatique</h3>
                <span class="cv__body-date">2020</span>
                <span class="cv__body-lieu">Université Savoie Mont-Blanc</span>
            </div>
            <div class="cv__body-card">
                <h3 class="cv__body-title">Bac scientifique option ISN (Informatique et Sciences du Numérique)</h3>
                <span class="cv__body-date">2018</span>
                <span class="cv__body-lieu">Lycée Polivalent Marlioz</span>
                <span class="cv__body-info">Mention assez bien</span>
            </div>
        </div>

        <div class="cv__body">
            <h2 class="cv__body-header"><i class="fas fa-cogs"></i> Compétences</h2>
            <div class="cv__body-row">
                <ul class="cv__body-list">
                    <li>Programmation orientée objet</li>
                    <li>Programmation fonctionnelle</li>
                    <li>Programmation impérative</li>
                    <li>Base de donnée SQL et noSQL</li>
                </ul>
                <ul class="cv__body-list">
                    <li>Symfony</li>
                    <li>MySQL</li>
                    <li>Neo4j</li>
                    <li>Node.js</li>
                    <li>Android</li>
                </ul>
            </div>
        </div>

        <div class="cv__body">
            <h2 class="cv__body-header"><i class="fas fa-globe"></i> Langues</h2>
            <ul class="cv__body-list">
                <li>Français</li>
                <li>Anglais</li>
            </ul>
        </div>

        <div class="cv__body">
            <h2 class="cv__body-header"><i class="far fa-question-circle"></i> Autres</h2>
            <div class="cv__body-card">
                <span class="cv__body-info">Permis B</span>
                <span class="cv__body-info">PSC1</span>
            </div>
        </div>
    </article>
    <div class="download">
        <h3>Téléchargement</h3>
        <div class="column_container">
            <a class="column2" href="{{ asset('cv/Kevin-Traini_CV.png') }}" target="_blank">Image</a>
            <a class="column2" href="{{ asset('cv/Kevin-Traini_CV.pdf') }}" target="_blank">Pdf</a>
        </div>
    </div>
{% endblock %}