{% extends 'base.html.twig' %}

{% block title %}Kevin Traini | CV{% endblock %}

{% block body %}
    <div class="cv_container">
        <article>
            <div class="cv_header">
                <div class="cv_header_text">
                    <div class="cv_header_text_main">
                        <span>Kevin Traini</span>
                    </div>
                    <hr/>
                    <div class="cv_header_text_sub">
                        <div class="cv_header_text_sub_col_1">
                            <span><i class="fas fa-globe"></i> <a class="cv_a" href="https://ktraini.com"
                                                                  target="_blank">ktraini.com</a></span>
                            <span><i class="fab fa-linkedin"></i> <a class="cv_a"
                                                                     href="https://www.linkedin.com/in/kevin-traini/"
                                                                     target="_blank">Kevin Traini</a></span>
                            <span><i class="fab fa-github"></i> <a class="cv_a" href="https://github.com/Gashmob"
                                                                   target="_blank">Gashmob</a></span>
                            <span><i class="fas fa-at"></i> <a class="cv_a" href="mailto:kevin@ktraini.com">kevin@ktraini.com</a></span>
                        </div>
                        <div class="cv_header_text_sub_col_2" style="text-indent: 2em">
                            <p>2nd year student at Ensimag in the Information Systems Engineering fiel, I divide my free
                                time between family, reading and programming. I carry out various projects as much in
                                web (website, framework) as in software (simulation, compiler).</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-university"></i> Education</h2>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Engineering diploma</h3>
                    <span class="cv_body_date">2021 - 2023</span>
                    <span class="cv_body_lieu">Grenoble INP Ensimag</span>
                    <span class="cv_body_info">Current</span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Bachelor's degree in computer science</h3>
                    <span class="cv_body_date">2021</span>
                    <span class="cv_body_lieu">University of Savoie Mont-Blanc</span>
                    <span class="cv_body_info">With honours</span>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-cogs"></i> Skills</h2>
                <div class="cv_body_row">
                    <div class="cv_body_card-3">
                        <h3 class="cv_body_title">Paradigm</h3>
                        <ul class="cv_body_list">
                            <li>Object oriented</li>
                            <li>Functional</li>
                            <li>Events</li>
                            <li>Imperative</li>
                        </ul>
                    </div>
                    <div class="cv_body_card-3">
                        <h3 class="cv_body_title">Languages</h3>
                        <ul class="cv_body_list">
                            <li>C++ / C</li>
                            <li>Java</li>
                            <li>Php / Javascript</li>
                            <li>Python</li>
                            <li>OCaml</li>
                        </ul>
                    </div>
                    <div class="cv_body_card-3">
                        <h3 class="cv_body_title">Technologies</h3>
                        <ul class="cv_body_list">
                            <li>Symfony</li>
                            <li>MySQL / Neo4j</li>
                            <li>Node.js</li>
                            <li>Android</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-dolly"></i> Experiences</h2>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Intern</h3>
                    <span class="cv_body_date">June 2021</span>
                    <span class="cv_body_info">LAMA (LAboratoire de MAthématiques) / MAthematics LAboratory</span>
                    <span class="cv_body_info">Intern topic : Vectorization and hyper resolution of images. Participation in the export of the result in svg using Bezier curves in order to round off the shapes. <a
                                class="cv_a" href="https://github.com/Gashmob/GTVimageVect">https://github.com/Gashmob/GTVimageVect</a></span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Website</h3>
                    <span class="cv_body_date">December 2020 - May 2021</span>
                    <span class="cv_body_info">Website project for a customer as part of a bachelor's degree 3 university module</span>
                    <span class="cv_body_info">Relations between job seekers and companies, but also between private and freelancer. Use Symfony framework and the MySQL and Neo4j databases. <a
                                class="cv_a" href="https://github.com/Gashmob/Feeljob">https://github.com/Gashmob/Feeljob</a></span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Cashier</h3>
                    <span class="cv_body_date">Summer 2019 & 2020</span>
                    <span class="cv_body_info">Métro (Food wholesaler)</span>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-globe"></i> Languages</h2>
                <ul class="cv_body_list">
                    <li>French <em>Mother tongue</em></li>
                    <li>English <em>(B1/B2)</em></li>
                </ul>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="far fa-question-circle"></i> Others</h2>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Driving licence</h3>
                    <span class="cv_body_info">Obtained with supervised driving</span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">PSC1</h3>
                    <span class="cv_body_date">2012</span>
                    <span class="cv_body_info">Level 1 civic prevention and relief</span>
                </div>
            </div>
        </article>
        <div class="download">
            <h3>Téléchargement</h3>
            <div class="column_container">
                <a class="column2 cv_a" href="{{ asset('cv/Kevin-Traini_CV_en.png') }}" target="_blank">Image</a>
                <a class="column2 cv_a" href="{{ asset('cv/Kevin-Traini_CV_en.pdf') }}" target="_blank">Pdf</a>
            </div>
        </div>
    </div>
{% endblock %}