{% extends 'base.html.twig' %}

{% block title %}Kevin Traini | CV{% endblock %}

{% block body %}
    <div class="cv_container">
        <article>
            <div class="cv_header">
                <div class="cv_header_text">
                    <div class="cv_header_text_main">
                        <span>Kevin Traini</span>
                    </div>
                    <hr/>
                    <div class="cv_header_text_sub">
                        <div class="cv_header_text_sub_col_1">
                            <span><i class="fas fa-globe"></i> <a class="cv_a" href="https://ktraini.com"
                                                                  target="_blank">ktraini.com</a></span>
                            <span><i class="fab fa-linkedin"></i> <a class="cv_a"
                                                                     href="https://www.linkedin.com/in/kevin-traini/"
                                                                     target="_blank">Kevin Traini</a></span>
                            <span><i class="fab fa-github"></i> <a class="cv_a" href="https://github.com/Gashmob"
                                                                   target="_blank">Gashmob</a></span>
                            <span><i class="fas fa-at"></i> <a class="cv_a" href="mailto:kevin@ktraini.com">kevin@ktraini.com</a></span>
                        </div>
                        <div class="cv_header_text_sub_col_2" style="text-indent: 2em">
                            <p>Étudiant en 2ème année à l'Ensimag dans la filière Ingénierie des Systèmes d'Information,
                                je partage mon temps libre entre famille, lecture et programmation. Je réalise divers
                                projets autant en web (sites, framework) qu'en logiciel (outils, compilateur).</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-university"></i> Formations</h2>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Diplôme d'ingénieur</h3>
                    <span class="cv_body_date">2021 - 2023</span>
                    <span class="cv_body_lieu">Grenoble INP Ensimag</span>
                    <span class="cv_body_info">En cours</span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Licence Informatique</h3>
                    <span class="cv_body_date">2021</span>
                    <span class="cv_body_lieu">Université Savoie Mont-Blanc</span>
                    <span class="cv_body_info">Mention bien</span>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-cogs"></i> Compétences</h2>
                <div class="cv_body_row">
                    <div class="cv_body_card-3">
                        <h3 class="cv_body_title">Paradigmes</h3>
                        <ul class="cv_body_list">
                            <li>Orienté objet</li>
                            <li>Fonctionnel</li>
                            <li>Évènementiel</li>
                            <li>Impératif</li>
                        </ul>
                    </div>
                    <div class="cv_body_card-3">
                        <h3 class="cv_body_title">Langages</h3>
                        <ul class="cv_body_list">
                            <li>C++ / C</li>
                            <li>Java</li>
                            <li>Php / Javascript</li>
                            <li>Python</li>
                            <li>OCaml</li>
                        </ul>
                    </div>
                    <div class="cv_body_card-3">
                        <h3 class="cv_body_title">Technologies</h3>
                        <ul class="cv_body_list">
                            <li>Symfony</li>
                            <li>MySQL / Neo4j</li>
                            <li>Node.js</li>
                            <li>Android</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-dolly"></i> Expériences</h2>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Stagiaire</h3>
                    <span class="cv_body_date">Juin 2021</span>
                    <span class="cv_body_info">LAMA (LAboratoire de MAthématiques)</span>
                    <span class="cv_body_info">Sujet du stage : Vectorisation et super résolution d'image. Participation sur l'export du résultat en svg en utilisant des courbes de Bezier afin d'arrondir les formes. <a
                                class="cv_a" href="https://github.com/Gashmob/GTVimageVect">https://github.com/Gashmob/GTVimageVect</a></span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Site web</h3>
                    <span class="cv_body_date">Décembre 2020 - Mai 2021</span>
                    <span class="cv_body_info">Projet de site web pour un client dans le cadre d'un module universitaire de licence 3</span>
                    <span class="cv_body_info">Mise en relation entre chercheurs d'emplois et entreprises, mais aussi entre particuliers et auto-entrepreneurs. Utilisation du framework Symfony et des bases de données MySQL et Neo4j. <a
                                class="cv_a" href="https://github.com/Gashmob/Feeljob">https://github.com/Gashmob/Feeljob</a></span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Caissier</h3>
                    <span class="cv_body_date">Été 2019 & 2020</span>
                    <span class="cv_body_info">Métro (grossiste alimentaire CHR)</span>
                </div>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="fas fa-globe"></i> Langues</h2>
                <ul class="cv_body_list">
                    <li>Français <em>Langue maternelle</em></li>
                    <li>Anglais <em>(B1/B2)</em></li>
                </ul>
            </div>

            <div class="cv_body">
                <h2 class="cv_body_header"><i class="far fa-question-circle"></i> Autres</h2>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Création et gestion d'un groupe de développeur</h3>
                    <span class="cv_body_info">Création en aout 2021 d'un groupe de développeurs pour créer des logiciels open source ainsi que des supports vidéos afin d'apprendre à tous l'informatique</span>
                </div>
                <div class="cv_body_card">
                    <h3 class="cv_body_title">Gestion d'une faction dans un jeux vidéo</h3>
                    <span class="cv_body_info">Pendant 1 an et demi, j'ai géré une faction commerciale dans le jeu Starbase</span>
                </div>
            </div>
        </article>
        <div class="download">
            <h3>Téléchargement</h3>
            <div class="column_container">
                <a class="column2 cv_a" href="{{ asset('cv/Kevin-Traini_CV_fr.png') }}" target="_blank">Image</a>
                <a class="column2 cv_a" href="{{ asset('cv/Kevin-Traini_CV_fr.pdf') }}" target="_blank">Pdf</a>
            </div>
        </div>
    </div>
{% endblock %}