{% extends 'base.html.twig' %}

{% block title %}Kevin Traini{% endblock %}

{% block bodytitle %}Kevin Traini{% endblock %}

{% block bodysubtitle %}Projets, articles, CV ...{% endblock %}

{% block body %}
    <p></p>
{% endblock %}