{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="home_header">
        <a href="{{ route("home") }}">Accueil</a>
        <a href="#proj">Projets</a>
        <a href="#">CV</a>
        <a href="https://github.com/Gashmob" target="_blank">Github</a>
        <a href="https://gitlab.com/Gashmob" target="_blank">Gitlab</a>
        <a href="https://www.linkedin.com/in/kevin-traini" target="_blank">Linkedin</a>
    </header>

    <section class="home_section accueil"> <!-- Accueil -->
        <canvas id="myCanvas"></canvas>
        <div>
            <span>Kevin TRAINI</span>
            <a href="#cit" class="down"><i class="fas fa-angle-down"></i></a>
        </div>
    </section>

    <section class="home_section citations" id="cit"> <!-- Citations -->
        <span class="left"><i class="fas fa-quote-left"></i> Ils ne savaient pas que c'était impossible, donc ils l'ont fait
            <i class="fas fa-quote-right"></i></span>
        <span class="right"><i class="fas fa-quote-left"></i> Pourquoi réfléchir quand on peut penser ?
            <i class="fas fa-quote-right"></i></span>
    </section>

    <section class="home_section presentation" id="pres"> <!-- Présentation -->
        <span>Étudiant en 2ᵉ année à l'Ensimag dans la filière Ingénierie des Systèmes d'Information, je partage mon temps libre entre famille, lecture et programmation. Je réalise divers projets autant en web (sites, framework) qu'en logiciel (simulation, compilateur).</span>
    </section>

    <section class="home_section" id="proj"> <!-- Projets -->

    </section>

    <section class="home_section" id="foot"> <!-- Footer -->

    </section>
{% endblock %}

{% block javascript %}<script src="{{ asset('js/home.js') }}"></script>{% endblock %}