<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/main.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
<div class="menu">
    <div class="pure-menu-heading">Kevin Traini</div>
    <div class="pure-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" href="./"><i class="fas fa-home"></i> Accueil</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="#"><i class="fas fa-list-ul"></i> Articles</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="#"><i class="fas fa-archive"></i> Projets</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="#"><i class="fas fa-user"></i> Mon CV</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="#"><i class="fas fa-phone-alt"></i> Contact</a></li>
        </ul>
    </div>
    <div class="pure-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" href="https://www.linkedin.com/in/kevin-traini/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="https://github.com/Gashmob" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
        </ul>
    </div>
    <div class="pure-menu-info">
        Fork 2.0-alpha
    </div>
</div>
<div class="main">
    <div class="header">
        <h1>{% block bodytitle %}{% endblock %}</h1>
        <h2>{% block bodysubtitle %}{% endblock %}</h2>
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>